:root {
    --body-font: "Nanum Gothic", serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;   /* 16px */
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-regular: 400;
    --font-bold: 700;
    --font-extra-bold: 800;
}
body {
    font-family: var(--body-font);
    font-size: 22px;
    font-weight: var(--font-bold);
    color: #fff;
}
main{
    margin-top: 44px;
    text-shadow: 0px 1px 4px #000;
}
main a {
    color: #fff;
}
.mainDiv {
    text-align: center;
}
.main-item {
    flex-direction: column;
    position: relative;
}
.main-img {
    margin-top: 40px;
}
.main-text {
    position: absolute;
    bottom: 8%;
    right: 21%;
}